/* цвет основного текста */

/* цвет вторичного текста #757575 */

/* белый цвет текста #FFFFFF */

/* акцент #2196F3 */

/* фон #FFFFFF */
/* вторичный цвет фона #E5E5E5 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-new-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  --accent-background-color: #f5f4fa;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* site nav */

.site-nav {
  display: flex;
}

.site-nav .link {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* contact list */
.contact-list {
  display: flex;
  margin-left: auto;
}

.item .contact-link {
  margin-left: 50px;
}

.contact-list .contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--accent-new-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
 text-align: center;  
  background:  #2F303A;
  padding: 200px 0;
}

/* Button */
.button {
 
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* feature */
.feature-list .item{
  width: 270px;

}

.feature-list {
  width: calc(100%-90px) / 4);
}

.features {
padding-top: 94px;
  background: #ffffff;
 
}
 
.feature-list {
  display: flex;
  flex-wrap​:​ wrap;,
  padding-left: 0;
}
.features .feature-list{
  
}


.feature-list .item:not(:last-child){
  margin-right: 30px;
}


.feature-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* section */

.work {
  background: #ffffff;
}
.section-container {
  display: flex;
}

.work-img {
  margin-right: 30px;
}

.work-img:last-child {
  margin-right: 0;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* our-team section */

.our-team {
  background: #f5f4fa;
}

.our-team-container {
  display: flex;
}

.our-team-men {
  background: #ffffff;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-men:last-child {
  margin-right: 0;
}

.our-team-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-team-info {
  padding: 30px 0;
}

.our-team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-team-job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--primary-white-color);
  background-color: #2f303a;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-background-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo .accent {
  color: var(--accent-color);
}

.footer a :hover,
.footer a :focus {
  color: var(--accent-color);
}
.footer a {
  text-decoration: none;
}
.footer .addres-link {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-link {
  margin-top: 9px;
}

/* страница portfolio */

/* pagination-list */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination {
  margin-bottom: 50px;
}

.pagination .button-wrapper:not(:last-child) {
  margin-right: 8px;
}

.pagination .button {
  border: 0;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--accent-background-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.pagination .button.primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--accent-new-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.pagination .button:hover {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--accent-new-color);
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.element:nth-child(3n) {
  margin-right: 0px;
}

.element:nth-last-child(-n + 3n) {
  margin-bottom: 0px;
}

.project .project-link {
  text-decoration: none;
  display: block;
}

.project .project-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project .project-info {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.element {
  margin-right: 30px;
  
}

.project .element {
  calc((100%-90px) /3);
}

